//==================================================================
.footer {
  margin: 0 0 30px 0;
  @media (max-width: $md2) {
   margin: 0 0 20px 0;
  }
}
.footer-body {
  display: flex;
  justify-content:space-between;
  align-items:center;
  @media (max-width:$md2) {
    flex-direction: column;
  }
}
.footer-body-column {
  @media (max-width:$md2) {
    &:first-child{
      order: 2;
    }
     &:last-child{
      order: 1;
    }
  }
}
.footer-body__text {
  line-height: 25px;
  @media (max-width:$md3) {
    font-size: 13px;
    text-align: center;
  }
}
.footer-body-logo {
  display: inline-block;
  padding: 0 3px 0 0;
  @media (max-width:$md2) {
    padding: 0 0 0 0;
    margin: 0 0 5px 0;
  }
}
.footer-body-logo__img {
  max-width: 150px;
  @media (max-width:$md1) {
    max-width: 130px;
  } 
  @media (max-width:$md2) {
    max-width: 110px;
  } 
}
//==================================================================