//==================================================================
.header {
	padding: 20px 0 10px 0;
	//<Fixed header>
	position: fixed;
	top:0;
	left:0;
	z-index: 50;
	background-color: #fff;
	width:100%;
	@media (max-width: $md3) {
		padding: 15px 0 15px 0;
	} 
	&__top {
		display: flex;
		justify-content: space-between;
		margin: 0 0 10px 0;
		@media (max-width: $md2) {
			margin: 0;
		}
		@media (max-width: $md3) {
			align-items:center;
		}
	}
	&__button {
		display: inline-block;
		margin: 0 10px 0 0;
		max-width: 136px;
		@media (max-width: $md3) {
			display: none;
		}
	}
	&__logo {
		display: inline-block;
		margin: 0 10px 0 0;
		@media (max-width: $md2) {
			img {
				max-width: 230px;
			}
		}
		@media (max-width: $md3) {
			//<Show over the adaptive menu>
			position: relative;
			z-index: 5;	
			padding: 0 0 0 60px;		
			img {
				max-width: 180px;
				margin: -10px 0 0 0;
			}
		}
		@media (max-width: $md4) {	
			padding: 0 0 0 50px;
			img {
				max-width: 130px;
			}
		}	
	}
	&__phone {
		display: inline-block;
		color: $fontColor;
		max-height: 35px;
		font-size: 17px;
		line-height: 25px;
		padding: 5px 0 0 0;
		transition: all 0.6s ease 0s;
		border-top: 1px solid  $fontColor3;
		border-bottom: 1px solid $fontColor3;
		position: relative;
		&:after {
			content: ''; 
			position: absolute; 
			right:100%;
			width: 0; 
			height: 1px; 
			background-color: $fontColor2; 
			bottom: -1px; 
			transition: all 0.6s ease 0s;
  		}
		&:hover {
	    	&:after {
				right: 0;
				width: 100%;
			}
  		}
  		&:before {
			content: '';
			position: absolute;
			left:100%;
			width: 0;
			height: 1px;
			background-color: $fontColor2;
			top: -1px;
			transition: all 0.6s ease 0s;
		}
		&:hover {
	    	&:before{
				left: 0;
				width: 100%;
			} 	
	  	}
  		@media (max-width: $md3) {
			//<Show over the adaptive menu>
			position: relative;
			z-index: 5;
		}	
		@media (max-width: $md4) {
			font-size: 14px;
	  		line-height: 23px;
	  		padding: 0 0 0 0;
		}
	}
}
.menu {
	&__body {
		margin: 0 200px;
		@media (max-width: $md2) {
			margin: 0;
		}
		//New Adaptive menu
		@media (max-width: $md3) {
			position: fixed;
			background-color: #ffffff;
			width: 100%;
			height: 100%;
			padding: 75px 10px 0px 10px;
			top: 0;
			transition: all 0.6s ease 0s;
			//To hide menu
			left: -120%;
			//To show menu on _active class
			&._active {
				left: 0;
			}
			//To see all elements on scroll
			overflow: auto;
			//Header-2 (to hide menu items on scroll on @media3)
			&::before {
				content: '';
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				height:  $headerHeightMd3;
				background-color: #ffffff;
				z-index: 6;
			}
		}
		@media (max-width: $md4) {
			padding: $headerHeightMd4 10px 0px 10px;
			//Header-2 (to hide menu items on scroll on @media4)
			&::before {
				height:  $headerHeightMd4;
			}	
		}		
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		//Items into the column for the new adaptive menu
		@media (max-width:$md3) {
			display: block;
		}
	}
	&__list li {
		//For sub-title
		position: relative;
		//For ease of pressing on PC
		padding: 10px 0;
		@media (max-width:$md3) {
			padding: 0 0;
		}
	}
	&__link {
		color: $fontColor2;
		font-family: $fontFamily;
		font-size: 15px;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		transition: all 0.5s ease 0s;
		&:hover {
			text-decoration: underline;
		}
		@media (max-width: $md3) {
			//<Show over the adaptive menu>
			position: relative;
			z-index: 5;
			display: block;
			//For ease of pressing on mobile
			line-height: 38px;
		}
	}
	&__arrow {
		//Only for touchscreen (display:none for PC)
		display: none;
	}
	&__sub-list {
		position: absolute;
		top: 100%;
		right: 0;
		background-color: $bgColor;
		padding: 15px;
		min-width: 300px;
		font-size: 15px;
		line-height: 25px;
		//Zoom effect (pushing from below)
		transform: translate(0px, 10%);
		//Hide sub-list
		opacity: 0;
		visibility: hidden;	
		transition: all 0.6s ease 0s;
		//Prohibition of interaction
		pointer-events: none;
		& li {
			padding: 5px 0;
		}
		@media (max-width: $md3) {
			//viewing sub-list elements in the adaptive menu
			position: relative;
			//sub-list elements on the new string in the adaptive menu
			flex: 1 1 100%;
			& li {
				padding: 7px 0;
				flex-wrap: wrap;
			}
			//Hide sub-list for @media3
			display: none;
		}
	}
	&__sub-link {
		color: #b1b78d;
		&:hover {
			text-decoration: underline;
		}
	}
}
//Sub-List only for PC========================
body._pc {
	//Show sub-list if the link has hovered on PC
	& .menu__list li:hover .menu__sub-list {
		//show sub-list
		opacity: 0.9;
		visibility: visible;
		//zoom effect
		transform: translate(0px, 0);
		//interaction allowed
		pointer-events: all;
	}
}
//Sub-List only for touchscreen===============
body._touchscreen {
	//Add arrow on touchscreen
	& .menu__list li {
		display: flex;
		align-items: center;
		@media (max-width: $md3) {
			//sub-list elements can be wrapped to a new string (when the sub-list is opened)
			flex-wrap: wrap;
		}
	}
	& .menu__link {
		//full width 
		flex: 1 1 auto; 
	}
	& .menu__arrow {
		//before-after arrow
		display: block;
		cursor: pointer;
		padding: 0 50px 0 0;
		position: relative;
    	&::before {
		  content: "";
		  width: 12px;
		  background-color: $fontColor;
		  height: 2px;
		  transition: transform 0.5s ease 0s;
		  transform: translate(0, -50%) rotate(-45deg);
		  position: absolute;
		  right: 21px;
		  top: 50%;
		}
		&::after {
		  content: "";
		  width: 12px;
		  background-color: $fontColor;
		  height: 2px;
		  transition: transform 0.5s ease 0s;
		  transform: translate(0, -50%) rotate(45deg);
		  position: absolute;
		  right: 29px;
		  top: 50%;
		}
    	&._active {
		  &::before {
			transform: translate(0, -50%) rotate(45deg);
		  }
		  &::after {
			transform: translate(0, -50%) rotate(-45deg);
		  }
    	}
	}
	//Show sub-list if the arrow has clicked on touchscreen
	& .menu__list li._active .menu__sub-list {
		//Show sub-list on touchscreen 
		opacity: 0.9;
		visibility: visible;
		//zoom effect
		transform: translate(0px, 0);
		//interaction allowed
		pointer-events: all;
		//Show sub-list on touchscreen (mobile only)
		@media (max-width: $md3) {
			display: block;
		}
	}
}
//==================================================================
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3) {
		display: block;
		position: absolute;
		top: 22px;
		left: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			/* top: calc(50% - 1px); */
			top:8px;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $fontColor2;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				//Hide middle line in the burger
				transform: scale(0);
				//Change lines to cross in the burger
				&:first-child {
					transform: rotate(-45deg);
					/* top: calc(50% - 1px); */
					top: 8px;
				}
				&:last-child {
					transform: rotate(45deg);
					/* bottom: calc(50% - 1px); */
					bottom:8px;
				}
			}
		}
	}
}
//==================================================================