//<FONTS>============================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas-Regular.eot');
  src: local('☺'), url('../fonts/Bebas-Regular.woff') format('woff'), url('../fonts/Bebas-Regular.ttf') format('truetype'), url('../fonts/Bebas-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
//<VARIABLES>========================================================================================================
$fontFamily: "Montserrat", sans-serif;
$fontFamily2: 'Bebas', sans-serif;
$fontSize: 14px;
$fontColor: #818181;
$fontColor2: #585958;
$fontColor3: #f3f1f1;
$bgColor: #f9faf3;
//container
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
//@media
$md1: $maxWidthContainer+20;
$md2: 991.98px;
$md3: 767.98px;           
$md4: 479.98px; 
//header height
$headerHeight: 165px;
$headerHeightMd2: 145px;
$headerHeightMd3: 75px;
$headerHeightMd4: 60px;         
//<CONTAINERS>=====================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  @media (max-width: $md1) {max-width: 970px;}
  @media (max-width: $md2) {max-width: 750px;}
  @media (max-width: $md3) {max-width: none; padding: 0 10px;}
}  
.page {
  flex: 1 1 auto;
  padding: $headerHeight 0 10px 0;
  display: flex;
  @media (max-width: $md2) {
    padding: $headerHeightMd2 0 10px 0;
  }
  @media (max-width: $md3) {
    padding:  $headerHeightMd3 0 10px 0;
  }
  @media (max-width: $md4) {
    padding:  $headerHeightMd4 0 10px 0;
  }
  &__body {
    flex: 1 1 auto;
    min-width: $minWidth;
  }
}
//Navigation by id (taking into account the height of the header)
#about-us, #room-rent, #services, #contacts, 
#room-rent-lux, #room-rent-double, #room-rent-mansard, #room-rent-standart {
  padding-top: $headerHeight;
  margin-top: -$headerHeight;
  @media (max-width: $md2) {
    padding-top: $headerHeightMd2;
    margin-top: -$headerHeightMd2;
  }
  @media (max-width: $md3) {
    padding-top:  $headerHeightMd3;
    margin-top: - $headerHeightMd3;
  }
  @media (max-width: $md4) {
    padding-top:  $headerHeightMd4;
    margin-top: - $headerHeightMd4;
  }
}
//<FILES>=========================================================================================================
@import "_nullstyle.scss";
@import "_header.scss";
@import "_footer.scss";
//slick.scss from the official site
@import "slick.scss";
//<GENERAL ELEMENTS SETTINGS>====================================================================================
.btn {
  display:inline-block;
  max-height: 40px;
  border: 1px solid #585958;
  color: #818181;
  font-size: 17px;
  padding: 20px 25px;
  font-family: $fontFamily2;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  transition: all 0.6s ease 0s;
  &:hover {
    border: 1px solid #fff;
    background-color: $bgColor;
  }
  &:active {
    position: relative;
    top: 3px;
  }
  &--dark{
    background: #ebece6;
    border: 1px solid #ebece6;
    opacity: 0.8;
    &:hover {
      border: 1px solid #fff;
      background-color: #fff;
    }
  }
}
.title {
  text-align: center;
  font-family: serif;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 25px 0;
  position: relative;
  @media (max-width: $md2) {
    font-size: 35px;
    margin: 0 0 20px 0;
  }
  @media (max-width: $md3) {
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 15px 0;
  }
  @media (max-width: $md4) {
    line-height: 30px;
    font-size: 28px;
    letter-spacing: 3px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 280px;
    height: 3px;
    right: 0;
    top: 20px;
    background-color: $fontColor3;
    @media (max-width: $md1) {
      width: 210px;
    }
    @media (max-width: $md2) {
      width: 150px;
    }
    @media (max-width: 670px) {
      width: 120px;
      top: 17px;
    }
    @media (max-width: 565px) {
      width: 90px;
    }
    @media (max-width: 500px) {
      width: 60px;
    }
    @media (max-width: $md4) {
      width: 50px;
      top: 15px;
    }
    @media (max-width: 375px) {
      width: 40px;
      top: 13px;
    }
    @media (max-width: 350px) {
      width: 28px;
      top: 13px;
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 280px;
    height: 3px;
    left: 0;
    top: 20px;
    background-color: $fontColor3;
    @media (max-width: $md1) {
      width: 210px;
    }
    @media (max-width: $md2) {
      width: 150px;
    }
    @media (max-width: 670px) {
      width: 120px;
      top: 17px;
    }
    @media (max-width: 565px) {
      width: 90px;
    }
    @media (max-width: 500px) {
      width: 60px;
    }
    @media (max-width: $md4) {
      width: 50px;
      top: 15px;
    }
    @media (max-width: 375px) {
      width: 40px;
      top: 13px;
    }
    @media (max-width: 350px) {
      width: 28px;
      top: 13px;
    }
  }
}
.subtitle {
  font-family: serif;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  @media (max-width: $md2) {
    font-size: 18px;
  }
  @media (max-width: $md4) {
    text-align: center; 
    font-size: 17px;
    opacity: 0.8;
  }
}
//<MAIN>=========================================================================================================
.about {
  background-color:#fff;
  margin: 0 0 40px 0; 
  padding: 20px 0 0 0;
  @media (max-width: $md2) {
    padding: 5px 0 0 0;
    margin: 0 0 30px 0; 
  }
  @media (max-width: $md3) {
    margin: 0 0 25px 0; 
  }
  @media (max-width: $md4) {
    margin: 0 0 20px 0; 
  }
  &__img {
    background-image: url("../img/block1/01.jpg");
    height: 500px;
    //For different image sizes
    background-position: 0 0; 
    background-repeat: no-repeat;
    background-size: cover; 
    @media (max-width: $md2) {
      height: 400px;
    }
     @media (max-width: $md4) {
      height: 300px;
    }
  }
  &__body {
    padding: 30px 30px 0 30px;
    @media (max-width: $md2) {
      padding: 10px 0 0 0;
    }
  }
  &__text {
    text-align: center;
    line-height: 25px;
    @media (max-width: $md3) {
      font-size: 13px;
    }
  }
  &__paragraph {
    margin: 0 0 20px 0;
    @media (max-width: $md2) {
      margin: 0 0 10px 0;
    }
    @media (max-width: $md4) {
      margin: 0 0 0 0;
    }
    &:last-child {
      margin: 0 0 0 0;
    }
  }
  .about__main-title {
    display: inline-block;
  }
}  
//==============================================================================================================
.products {
    background-color:#fff;
    margin: 0 0 40px 0; 
    @media (max-width: $md2) {
      margin: 0 0 30px 0;
    }
    @media (max-width: $md3) {
      margin: 0 0 25px 0; 
    }
    @media (max-width: $md4) {
      margin: 0 0 20px 0; 
    }
    &__text {
      text-align: center;
      line-height: 25px;
      margin: 0 0 10px 0;
      @media (max-width: $md2) {
        line-height: 23px;
      }
      @media (max-width: $md3) {
        font-size: 13px;
        margin: 0 0 5px 0;
      }
    }
    &__icons {
      margin: 0 0 10px 0;
    }
}
//========================
.product {
  margin: 0 0 40px 0;
  &:last-child {
    margin: 0 0 0 0;
  }
  @media (max-width: $md1) {
    margin: 0 0 35px 0;
  }
  @media (max-width: $md2) {
    margin: 0 0 30px 0;
  }
  @media (max-width: $md3) {
    margin: 0 0 25px 0;
  }
  &__body {
    display: flex;
    @media (max-width: $md1) {
      flex-direction:column;
    }
  }
  &__slider {
    width: 70%;
    padding: 0 40px;
    @media (max-width: $md1) {
      width: 100%;
    }
    @media (max-width: $md2) {
      padding: 0 30px;
    }
  }
  &__details {
    flex: 0 0 30%;
    padding: 0 5px;
    @media (max-width: $md1) {
      flex: 0 0 100%;
    }
  }
}
//========================
.slider {
  &__body {
    margin: 0 -2px;
  }
  &__item {
    margin: 0 2px;
    background-color: $bgColor;
    padding: 6px;
    text-align: center;
    transition: all 0.5s ease 0s;
    &:hover {
      background-color: #ebece6;
    }
  }
  &__image {
    display: block;
    width: 100%;
  }
} 
.slider__body  .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -40px -35px 0 -35px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  &.slick-prev {
    left: 0;
    background: url('../img/icon/left-arrow.svg') 0 0 / 100% no-repeat;
  }
  &.slick-next {
    right: 0;
    background: url('../img/icon/right-arrow.svg') 0 0 / 100% no-repeat;
  }
  &.slick-disabled {
    //opacity of the last arrow
    opacity: 0.2;
  }
}
.slider__body .slick-dots {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 20px 0 0 0;
  li {
    list-style: none;
    margin: 0 20px;
    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      background: #f3f1f1;
      border-radius: 50%;
    }
    &.slick-active {
      button {
        background: #818181;
      }
    }
  }
  @media (max-width: $md1) {
    padding: 20px 0 20px 0;
  }
  @media (max-width: $md3) {
    padding: 15px 0 15px 0;
  }
}
//========================
.details {
  padding: 0 0 30px 0;
  @media (max-width: $md1) {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  &__inner{
    background: $bgColor;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__icons {
    margin: 0 0 5px 0;
    @media (max-width: $md3) {
      margin: 0 0 0 0;
    }
  }
  &__body {
    padding: 0 10px;
    flex: 1 1 auto;
    margin: 0 0 5px 0;
    text-align: center;
  }
  &__text {
    line-height: 23px; 
    &:before {
      content: "-"; 
      padding-right: 5px;
    }
    @media (max-width: $md3) {
      font-size: 13px;
    }
  }
  &__price {
    font-size: 30px;
    line-height: 25px;
    font-family: $fontFamily2;
    letter-spacing: 0.7px;
    text-align: center;
    margin: 0 0 15px 0;
    @media (max-width: $md3) {
      font-size: 25px;
      line-height: 23px;
      margin: 0 0 10px 0;
    }
  }
}
//========================
.icons {
    display: flex;
    justify-content: center;
  &__icon {
    padding: 0 30px;
    display: flex;
    align-items: center;
  }
  &__img {
    display: block;
    max-height: 50px;
    margin: 0 10px 0 0;
  }
  &__text {
    display: block;
  }
}
.product__details .icons {
  background: $bgColor;
}
.product__details .icons__img {
  max-height: 40px; 
}
//==============================================================================================================
.services {
  margin: 0 0 40px 0; 
  @media (max-width: $md2) {
    margin: 0 0 30px 0;
  }
  @media (max-width: $md3) {
    margin: 0 0 25px 0; 
  }
  @media (max-width: $md4) {
    margin: 0 0 20px 0; 
  }
}
.spollers {
  &__item {
    margin: 0 0 20px 0;
    &:last-child {
      margin: 0 0 0 0;
    }
    @media (max-width: $md3) {
      margin: 0 0 15px 0;
    }
  }
  &__title {
    background-color: $bgColor;
    cursor: pointer;
    padding: 20px 70px 20px 20px;
    position: relative;
    &::before {
      content: "";
      width: 20px;
      background-color: $fontColor;
      height: 2px;
      transition: transform 0.5s ease 0s;
      transform: translate(0, -50%) rotate(-45deg);
      position: absolute;
      right: 15px;
      top: 50%;
    }
    &::after {
      content: "";
      width: 20px;
      background-color: $fontColor;
      height: 2px;
      transition: transform 0.5s ease 0s;
      transform: translate(0, -50%) rotate(45deg);
      position: absolute;
      right: 29px;
      top: 50%;
    }
    &._active {
      &::before {
        transform: translate(0, -50%) rotate(45deg);
      }
      &::after {
        transform: translate(0, -50%) rotate(-45deg);
      }
    }
  }
  &__body {
    display: none;
    padding: 20px 5px 0px 30px;
    @media (max-width: $md3) {
      padding: 15px 5px 0px 30px;
    }
  }
  li {padding-left: 15px;}
  &__text {
    line-height: 25px;
    list-style-image: url('../img/icon/arrow.svg');
    @media (max-width: $md3) {
      font-size: 13px;
      line-height: 23px;
    }
  }
}
//=============================================================================================================
.contacts {
  margin: 0 0 30px 0; 
  @media (max-width: $md2) {
    margin: 0 0 20px 0;
  }
  @media (max-width: $md3) {
    margin: 0 0 15px 0; 
  }
  @media (max-width: $md4) {
    margin: 0 0 10px 0; 
  }
  &__body{
    display: flex;
    text-align: center;
    flex-wrap:wrap; 
  }
  &__column {
    flex: 0 0 32.8%;
    margin: 0 0.8% 0.8% 0;
    &:first-child {
      position: relative;
      right: 10%;
      transition: all 0.8s ease 0s;
      &._active{
        right: 0;
      } 
    }
    &:last-child {
      margin-right: 0;
      position: relative;
      right: -10%;
      transition: all 0.8s ease 0s;
      &._active{
        right: 0;
      } 
    }
    &:nth-child(2){
      display: flex;
      flex-direction:column;
      padding: 10px;
      background: $bgColor; 
    }
    @media (max-width:$md2) {
      margin: 0 0 0.8% 0;
      &:first-child{
        order: 2;
        flex: 0 0 49.6%;
        margin: 0 0.8% 0.8% 0;
      }
      &:nth-child(2){
        order: 1;
        flex: 0 0 100%;
      }
      &:last-child{
        order: 3;
        flex: 0 0 49.6%;
      }
    }
    @media (max-width: 750px) {
      &:first-child, &:nth-child(2),&:last-child {
        flex: 0 0 100%;
        margin: 0 0 10px 0;
      }
    }
  }
  &__img {
    display: block;
    height: 300px;
    //For different image sizes
    background-position: 0 0; 
    background-repeat: no-repeat;
    background-size: cover; 
    &--1{
      background-image: url("../img/block6/01.jpg");
    }
    &--2{
      background-image: url("../img/block6/02.jpg");
    }
    @media (max-width: 750px) {
      background-position: 10% 40%; 
      height: 400px;
    }
    @media (max-width: 600px) {
      background-position: 10% 40%; 
      height: 320px;
    }
    @media (max-width: $md4) {
      background-position: 30% 80%; 
      height: 320px;
    }
  }
  &__subtitle {
    margin: 0 0 20px 0;
    @media (max-width: $md3) {
      margin: 0 0 15px 0;
    }
  }
  &__text {
    flex: 1 1 auto;
    margin: 0 0 20px 0;
    font-size: 16px;
    opacity: 0.6; 
    color: $fontColor;
    transition: all 0.4s ease 0s;
    &:hover {
      opacity: 0.2;
    }
    @media (max-width: $md3) {
      font-size: 15px;
    }
  }
  &__button {
    margin: 0 auto;
    max-width: 136px;
  }
}
//=============================================================================================================
.popup {
  //smooth scrolling
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &._active {
    overflow: hidden;
    visibility: visible;
    opacity: 1;
  }
  &__body {
    background-color: #fff;
    display: block;
    margin: 0 auto;
    max-width: 800px;
    min-width: 320px;
    position: relative;
  }
  &__close {
    background-image: url("../img/icon/close.svg");
    background-size: cover; 
    opacity: 0.7;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -60px;
    right: 0;
    cursor: pointer;
    z-index: 51;
    transition: all 0.5s ease 0s;
    &:hover {
      opacity: 1;
    }
  }
  &__slider {
    width: 100%;
    padding: 10px 40px;
    @media (max-width: 750px) {
       padding: 5px 15px;
    }
  }
}
.popup-slider {
  &__body .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -20px -35px 0 -35px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    &.slick-prev {
      left: 0;
      background: url('../img/icon/left-arrow.svg') 0 0 / 100% no-repeat;
    }
    &.slick-next {
      right: 0;
      background: url('../img/icon/right-arrow.svg') 0 0 / 100% no-repeat;
    }
    &.slick-disabled {
      //opacity of the last arrow
      opacity: 0.2;
    } 
    @media (max-width: 750px) {
       margin: -20px -16px 0 -16px;
       width: 25px;
      height: 25px;
    }
  }
}
//=============================================================================================================