<footer class="footer">
	<div class="footer__content container">
		<div class="footer-body">
			<div class="footer-body-column">
				<div class="footer-body__text">© Galitskaya Riviera 2021. Все права защищены
				</div>
			</div>
			<div class="footer-body-column">
				<a href="#" class="footer-body-logo"><img src="img/logo.png" alt="Гостевой дом Галицкая Ривьера" class="footer-body-logo__img"></a>
			</div>
		</div>
	</div>
</footer>