<header class="header">
	<div class="header__content container">
		<div class="header__top">
				<a href="https://www.booking.com/hotel/ua/chastnyi-dom-vov.ru.html" target="_blank" class="header__button btn">booking.com</a>
				<a href="#" class="header__logo"><img src="img/logo.png" alt="Гостевой дом Galitskaya Riviera"></a>
				<a href="tel:380504712101" class="header__phone">38 050 471 21 01 </a>
		</div>
		<div class="header__menu menu">
			<div class="menu__icon icon-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav class="menu__body">
				<ul class="menu__list">
					<li>
						<a href="#about-us" class="menu__link _goto-block">О нас</a>
					</li>
					<li>
						<a href="#room-rent" class="menu__link _goto-block">Номера</a>
						<span class="menu__arrow"></span>
						<ul class="menu__sub-list">
							<li>
								<a href="#room-rent-lux" class="menu__sub-link _goto-block">Люкс</a>
							</li>
							<li>
								<a href="#room-rent-double" class="menu__sub-link _goto-block">Большой двухместный номер</a>
							</li>
							<li>
								<a href="#room-rent-mansard" class="menu__sub-link _goto-block">Большой двухместный номер (мансарда)</a>
							</li>
							<li>
								<a href="#room-rent-standart" class="menu__sub-link _goto-block">Стандартный двухместный номер</a>
							</li>	
						</ul>
					</li>
					<li>
						<a href="#services" class="menu__link _goto-block">Услуги</a>
					</li>
					<li>
						<a href="#contacts" class="menu__link _goto-block">Контакты</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>